<form action="/bookmarks" method="post">
  <label>URL</label>
  <input type="text" name="url" />
  <label>Title</label>
  <input type="text" name="title">
  <input type="submit" value="Submit" />
</form>
